# Composer
vendor/

# Configs apache para url
.htaccess

# Querys de exemplo
querys.sql

# Smarty cache e templates_compilados
cache/
templates_c/

Files/

# Sonarqube dir
.scannerwork/
sonar-project.properties

