nav {
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
    /* font-family: 'Noto Sans KR', sans-serif; */
    font-family: 'Ubuntu', sans-serif;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

fieldset {
    margin: 1em 1em;
    padding: 1em;
    border: 1px solid #ccc;
    background-color: #f8f8f8;
}

